$primary-bg: #15202b;
$primary-text: #ffffff;
$primary-border: #38444d;
$primary-button: #1da1f2;
$primary-button-hover: #0c84c2;
$secondary-label: #8899a6;
$primary-form-bg: #192734;
$primary-error-text: #ff4d4f;
$secondary-text: #8899a6;
$secondary-bg: #141d26;

