@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typograph" as *;
.field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.5rem;
    color: $secondary-text;
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid$primary-border;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: inherit;
    color: $primary-text;
    background-color: $primary-bg;

    &:focus {
      outline: none;
      border-color: $primary-button;
    }
  }
}
